.event-details-container {
  width: 100%;
  display: flex;
  overflow: auto;
  min-height: 100vh;
  align-items: center;
  flex-direction: column;
}

.event-all-details {
  z-index: 400;
  display: none;
  
}

.event-details-i-phone8plus-event-details {
  width: 100%;
  height: 649px;
  display: flex;
  overflow: hidden;
  position: relative;
  max-width: 410px;
  box-sizing: border-box;
  align-items: flex-start;
  flex-shrink: 0;
  border-color: transparent;
  border-radius: 0px 0px 0px 0px;
  flex-direction: column;
  background-size: cover;
  /*background-image: url("/playground_assets/eceb40f7-8446-463d-b39a-9b98282b2b2a-8h19-500w.undefined"); */
}

.event-details-buttonparticipar {
  top: 550px;
  width: 355px;
  height: 52px;
  display: flex;
  padding: 0;
  position: absolute;
  align-self: auto;
  box-sizing: border-box;
  align-items: flex-start;
  flex-shrink: 1;
  border-color: transparent;
  border-style: none;
  border-width: 0;
  margin-right: 0;
  border-radius: 30px;
  margin-bottom: 0;
  flex-direction: row;
  justify-content: flex-start;
  text-align: center;
  background-color: rgba(249, 207, 108, 1);
  cursor: pointer;
}
.event-details-text {
  top: 14px;
  left: 130px;
  color: rgba(0, 0, 0, 1);
  height: auto;
  position: absolute;
  font-size: 20px;
  align-self: auto;
  font-style: Bold;
  text-align: left;
  font-family: Ubuntu;
  font-weight: 700;
  line-height: normal;
  font-stretch: normal;
  text-decoration: none;
}
.event-details-text02 {
  top: 229px;
  left: 185px;
  color: rgba(0, 0, 0, 1);
  height: auto;
  position: absolute;
  font-size: 13px;
  align-self: auto;
  font-style: Bold;
  text-align: center;
  font-family: Ubuntu;
  font-weight: 700;
  line-height: normal;
  font-stretch: normal;
  margin-right: 0;
  margin-bottom: 0;
  text-decoration: underline;
}
.event-details-navlink {
  display: contents;
}
.event-details-buttonback {
  top: 29px;
  left: 30px;
  width: 84px;
  height: 42px;
  display: flex;
  padding: 0;
  position: absolute;
  align-self: auto;
  box-sizing: border-box;
  align-items: flex-start;
  flex-shrink: 1;
  border-color: transparent;
  border-style: none;
  border-width: 0;
  margin-right: 0;
  border-radius: 0px 0px 0px 0px;
  margin-bottom: 0;
  flex-direction: row;
  justify-content: flex-start;
  text-decoration: none;
  background-color: transparent;
  cursor: pointer;
}
.event-details-rectangle11 {
  top: 0px;
  left: 0px;
  width: 84px;
  height: 42px;
  position: absolute;
  box-sizing: border-box;
}
.event-details-vector {
  top: 14px;
  left: 33px;
  width: 18px;
  height: 14px;
  position: absolute;
  box-sizing: border-box;
}
.event-details-info {
  top: 98px;
  left: 30px;
  width: 355px;
  height: 518px;
  display: flex;
  padding: 0;
  position: absolute;
  align-self: auto;
  box-sizing: border-box;
  align-items: flex-start;
  flex-shrink: 1;
  border-color: transparent;
  border-style: none;
  border-width: 0;
  margin-right: 0;
  border-radius: 0px 0px 0px 0px;
  margin-bottom: 0;
  flex-direction: row;
  justify-content: flex-start;
  background-color: transparent;
  overflow-y: scroll;
  overflow-x: hidden;
}
.event-details-info02 {
  top: 340px;
  left: 0px;
  width: 355px;
  height: 178px;
  display: flex;
  padding: 0;
  position: absolute;
  align-self: auto;
  box-sizing: border-box;
  align-items: flex-start;
  flex-shrink: 1;
  border-color: transparent;
  border-style: none;
  border-width: 0;
  border-radius: 0px 0px 0px 0px;
  flex-direction: row;
  justify-content: flex-start;
  background-color: rgba(242, 242, 242, 1);
}
.event-details-text04 {
  top: 130px;
  left: 23px;
  color: rgba(0, 0, 0, 1);
  height: auto;
  position: absolute;
  font-size: 14px;
  align-self: auto;
  font-style: Bold;
  text-align: left;
  font-family: Ubuntu;
  font-weight: 700;
  line-height: normal;
  font-stretch: normal;
  text-decoration: none;
}
.event-details-text05 {
  font-weight: 700;
}
.event-details-text06 {
  font-weight: 400;
}
.event-details-text10 {
  font-weight: 700;
}
.event-details-text12 {
  top: 18px;
  left: 23px;
  color: rgba(0, 0, 0, 1);
  width: 306px;
  height: auto;
  position: absolute;
  font-size: 14px;
  align-self: auto;
  font-style: Bold;
  text-align: left;
  font-family: Ubuntu;
  font-weight: 700;
  line-height: normal;
  font-stretch: normal;
  text-decoration: none;
}
.event-details-text13 {
  font-weight: 700;
}
.event-details-text15 {
  top: 86px;
  left: 23px;
  color: rgba(0, 0, 0, 1);
  height: auto;
  position: absolute;
  font-size: 14px;
  align-self: auto;
  font-style: Bold;
  text-align: left;
  font-family: Ubuntu;
  font-weight: 700;
  line-height: normal;
  font-stretch: normal;
  text-decoration: none;
}
.event-details-text16 {
  font-weight: 700;
}
.event-details-info01 {
  top: 0px;
  left: 0px;
  width: 355px;
  height: 319px;
  display: flex;
  padding: 0;
  position: absolute;
  align-self: auto;
  box-sizing: border-box;
  align-items: flex-start;
  flex-shrink: 1;
  border-color: transparent;
  border-style: none;
  border-width: 0;
  border-radius: 0px 0px 0px 0px;
  flex-direction: row;
  justify-content: flex-start;
  background-color: rgba(0, 0, 0, 1);
}
.event-details-text18 {
  top: 23px;
  left: 23px;
  color: rgba(255, 255, 255, 1);
  height: auto;
  position: absolute;
  font-size: 24px;
  align-self: auto;
  font-style: Bold;
  text-align: left;
  font-family: Ubuntu;
  font-weight: 700;
  line-height: normal;
  font-stretch: normal;
  text-decoration: none;
  /* display: flex; */
  /* flex-wrap: wrap; */
  display: inline-block; 
  white-space: nowrap;
  text-overflow: ellipsis;
  overflow: hidden;
}
.event-details-text20 {
  top: 286px;
  left: 23px;
  color: rgba(255, 255, 255, 1);
  height: auto;
  position: absolute;
  font-size: 14px;
  align-self: auto;
  font-style: Bold;
  text-align: left;
  font-family: Ubuntu;
  font-weight: 700;
  line-height: normal;
  font-stretch: normal;
  text-decoration: none;
}
.event-details-text21 {
  color: rgba(255, 255, 255, 1);
  text-decoration: NONE;
}
.event-details-text23 {
  top: 101px;
  left: 23px;
  color: rgba(255, 255, 255, 1);
  width: 295px;
  height: auto;
  position: absolute;
  font-size: 14px;
  align-self: auto;
  font-style: Bold;
  text-align: left;
  font-family: Ubuntu;
  font-weight: 700;
  line-height: normal;
  font-stretch: normal;
  text-decoration: none;
}
.event-details-text34 {
  top: 58px;
  left: 23px;
  color: rgba(255, 255, 255, 1);
  height: auto;
  position: absolute;
  font-size: 14px;
  align-self: auto;
  font-style: Bold;
  text-align: left;
  font-family: Ubuntu;
  font-weight: 700;
  line-height: normal;
  font-stretch: normal;
  text-decoration: none;
}
