.event-manager-container {
  width: 100%;
  display: flex;
  overflow: auto;
  min-height: 100vh;
  align-items: center;
  flex-direction: column;
}
.event-manager-i-phone8plus-createan-event {
  width: 100%;
  height: 649px;
  display: flex;
  overflow: hidden;
  position: relative;
  max-width: 410px;
  box-sizing: border-box;
  align-items: flex-start;
  flex-shrink: 0;
  border-color: transparent;
  border-radius: 0px 0px 0px 0px;
  background-color: rgba(243, 243, 243, 1);
  overflow-y: auto;
}

.events-panel {
  overflow-y: hidden;
  background-color: pink;
  width: 100%;
}

.event-manager-meus-eventos {
  top: 72px;
  left: 44px;
  width: 336px;
  height: 201px;
  display: flex;
  padding: 0;
  position: absolute;
  align-self: auto;
  box-sizing: border-box;
  align-items: flex-start;
  flex-shrink: 1;
  border-color: transparent;
  border-style: none;
  border-width: 0;
  margin-right: 0;
  border-radius: 0px 0px 0px 0px;
  margin-bottom: 0;
  flex-direction: row;
  justify-content: flex-start;
  background-color: transparent;
}
.event-manager-text {
  color: rgba(0, 0, 0, 1);
  height: auto;
  position: absolute;
  font-size: 20px;
  align-self: auto;
  font-style: Bold;
  text-align: left;
  font-family: Source Sans Pro;
  font-weight: 700;
  line-height: normal;
  font-stretch: normal;
  text-decoration: none;
}
.event-manager-text02 {
  top: 6px;
  left: 307px;
  color: rgba(0, 0, 0, 0.5);
  height: auto;
  position: absolute;
  font-size: 14px;
  align-self: auto;
  font-style: Regular;
  text-align: left;
  font-family: Source Sans Pro;
  font-weight: 400;
  line-height: normal;
  font-stretch: normal;
  text-decoration: none;
}
.event-manager-group {
  top: 46px;
  left: 0px;
  width: 322px;
  height: 155px;
  display: flex;
  padding: 0;
  position: absolute;
  align-self: auto;
  box-sizing: border-box;
  align-items: flex-start;
  flex-shrink: 1;
  border-color: transparent;
  border-style: none;
  border-width: 0;
  border-radius: 0px 0px 0px 0px;
  flex-direction: row;
  justify-content: flex-start;
  background-color: transparent;
}
.event-manager-carrosel {
  top: 0px;
  left: 0px;
  width: 322px;
  height: 155px;
  display: flex;
  padding: 0;
  position: absolute;
  align-self: auto;
  box-sizing: border-box;
  align-items: flex-start;
  flex-shrink: 1;
  border-color: transparent;
  border-style: none;
  border-width: 0;
  border-radius: 0px 0px 0px 0px;
  flex-direction: row;
  justify-content: flex-start;
  background-color: transparent;
}
.event-manager-buttonadd-evento {
  top: 0px;
  left: 0px;
  width: 151px;
  height: 155px;
  display: flex;
  padding: 0;
  position: absolute;
  align-self: auto;
  box-sizing: border-box;
  align-items: flex-start;
  flex-shrink: 1;
  border-color: transparent;
  border-style: none;
  border-width: 0;
  border-radius: 17px;
  flex-direction: row;
  justify-content: flex-start;
  background-color: rgba(249, 207, 108, 1);
}
.event-manager-antdesignplusoutlined {
  top: 34px;
  left: 30px;
  width: 91px;
  height: 87px;
  position: absolute;
  box-sizing: border-box;
}
.event-manager-event1 {
  top: 0px;
  left: 171px;
  width: 151px;
  height: 155px;
  display: flex;
  padding: 0;
  position: absolute;
  align-self: auto;
  box-sizing: border-box;
  align-items: flex-start;
  flex-shrink: 1;
  border-color: transparent;
  border-style: none;
  border-width: 0;
  border-radius: 17px;
  flex-direction: row;
  justify-content: flex-start;
  background-color: rgba(247, 247, 247, 1);
}
.event-manager-text04 {
  top: 17px;
  left: 12px;
  color: rgba(0, 0, 0, 1);
  height: auto;
  position: absolute;
  font-size: 16px;
  align-self: auto;
  font-style: Bold;
  text-align: left;
  font-family: Source Sans Pro;
  font-weight: 700;
  line-height: normal;
  font-stretch: normal;
  text-decoration: none;
}
.event-manager-group1 {
  top: 72px;
  left: 16px;
  width: 7px;
  height: 9px;
  display: flex;
  padding: 0;
  position: absolute;
  align-self: auto;
  box-sizing: border-box;
  align-items: flex-start;
  flex-shrink: 1;
  border-color: transparent;
  border-style: none;
  border-width: 0;
  border-radius: 0px 0px 0px 0px;
  flex-direction: row;
  justify-content: flex-start;
  background-color: transparent;
}
.event-manager-vector {
  top: 0px;
  left: 0px;
  width: 7px;
  height: 9px;
  position: absolute;
  box-sizing: border-box;
}
.event-manager-vector01 {
  top: 2.0249862670898438px;
  left: 2.099853515625px;
  width: 3px;
  height: 3px;
  position: absolute;
  box-sizing: border-box;
}
.event-manager-text09 {
  top: 69px;
  left: 30px;
  color: rgba(0, 0, 0, 1);
  height: auto;
  position: absolute;
  font-size: 11px;
  align-self: auto;
  font-style: Regular;
  text-align: left;
  font-family: Ubuntu;
  font-weight: 400;
  line-height: normal;
  font-stretch: normal;
  text-decoration: none;
}
.event-manager-text11 {
  top: 87px;
  left: 30px;
  color: rgba(0, 0, 0, 1);
  height: auto;
  position: absolute;
  font-size: 11px;
  align-self: auto;
  font-style: Regular;
  text-align: left;
  font-family: Ubuntu;
  font-weight: 400;
  line-height: normal;
  font-stretch: normal;
  text-decoration: none;
}
.event-manager-akariconscalendar {
  top: 89px;
  left: 15px;
  width: 9px;
  height: 10px;
  display: flex;
  overflow: hidden;
  position: absolute;
  box-sizing: border-box;
  align-items: flex-start;
  flex-shrink: 0;
  border-color: transparent;
  border-radius: 0px 0px 0px 0px;
}
.event-manager-group2 {
  top: 0.8333331942558289px;
  left: 0.7499999403953552px;
  width: 7.500000476837158px;
  height: 8.333332061767578px;
  display: flex;
  padding: 0;
  position: absolute;
  align-self: auto;
  box-sizing: border-box;
  align-items: flex-start;
  flex-shrink: 1;
  border-color: transparent;
  border-style: none;
  border-width: 0;
  margin-right: 0;
  border-radius: 0px 0px 0px 0px;
  margin-bottom: 0;
  flex-direction: row;
  justify-content: flex-start;
  background-color: transparent;
}
.event-manager-vector02 {
  top: 0.8333334922790527px;
  left: 0px;
  width: 8px;
  height: 7px;
  position: absolute;
  box-sizing: border-box;
}
.event-manager-vector03 {
  top: 0px;
  left: 0px;
  width: 8px;
  height: 3px;
  position: absolute;
  box-sizing: border-box;
}
.event-manager-buttongo-evento {
  top: 113px;
  left: 104px;
  width: 30px;
  height: 30px;
  display: flex;
  padding: 0;
  position: absolute;
  align-self: auto;
  box-sizing: border-box;
  align-items: flex-start;
  flex-shrink: 1;
  border-color: transparent;
  border-style: none;
  border-width: 0;
  border-radius: 8px;
  flex-direction: row;
  justify-content: flex-start;
  background-color: rgba(249, 207, 108, 1);
}
.event-manager-arrowup {
  top: 7px;
  left: 7px;
  width: 16px;
  height: 16px;
  position: absolute;
  box-sizing: border-box;
}
.event-manager-eventos-participando {
  top: 309px;
  left: 42px;
  width: 338px;
  height: 201px;
  display: flex;
  padding: 0;
  position: absolute;
  align-self: auto;
  box-sizing: border-box;
  align-items: flex-start;
  flex-shrink: 1;
  border-color: transparent;
  border-style: none;
  border-width: 0;
  margin-right: 0;
  border-radius: 0px 0px 0px 0px;
  margin-bottom: 0;
  flex-direction: row;
  justify-content: flex-start;
  background-color: transparent;
}
.event-manager-group3 {
  top: 46px;
  left: 0px;
  width: 151px;
  height: 155px;
  display: flex;
  padding: 0;
  position: absolute;
  align-self: auto;
  box-sizing: border-box;
  align-items: flex-start;
  flex-shrink: 1;
  border-color: transparent;
  border-style: none;
  border-width: 0;
  border-radius: 17px;
  flex-direction: row;
  justify-content: flex-start;
  background-color: rgba(247, 247, 247, 1);
}
.event-manager-text13 {
  top: 17px;
  left: 12px;
  color: rgba(0, 0, 0, 1);
  height: auto;
  position: absolute;
  font-size: 16px;
  align-self: auto;
  font-style: Bold;
  text-align: left;
  font-family: Ubuntu;
  font-weight: 700;
  line-height: normal;
  font-stretch: normal;
  text-decoration: none;
}
.event-manager-group4 {
  top: 72px;
  left: 16px;
  width: 7px;
  height: 9px;
  display: flex;
  padding: 0;
  position: absolute;
  align-self: auto;
  box-sizing: border-box;
  align-items: flex-start;
  flex-shrink: 1;
  border-color: transparent;
  border-style: none;
  border-width: 0;
  border-radius: 0px 0px 0px 0px;
  flex-direction: row;
  justify-content: flex-start;
  background-color: transparent;
}
.event-manager-vector04 {
  top: 0px;
  left: 0px;
  width: 7px;
  height: 9px;
  position: absolute;
  box-sizing: border-box;
}
.event-manager-vector05 {
  top: 2.024977684020996px;
  left: 2.099853515625px;
  width: 3px;
  height: 3px;
  position: absolute;
  box-sizing: border-box;
}
.event-manager-text15 {
  top: 70px;
  left: 30px;
  color: rgba(0, 0, 0, 1);
  height: auto;
  position: absolute;
  font-size: 11px;
  align-self: auto;
  font-style: Regular;
  text-align: left;
  font-family: Ubuntu;
  font-weight: 400;
  line-height: normal;
  font-stretch: normal;
  text-decoration: none;
}
.event-manager-text17 {
  top: 87px;
  left: 30px;
  color: rgba(0, 0, 0, 1);
  height: auto;
  position: absolute;
  font-size: 11px;
  align-self: auto;
  font-style: Regular;
  text-align: left;
  font-family: Ubuntu;
  font-weight: 400;
  line-height: normal;
  font-stretch: normal;
  text-decoration: none;
}
.event-manager-akariconscalendar1 {
  top: 89px;
  left: 15px;
  width: 9px;
  height: 10px;
  display: flex;
  overflow: hidden;
  position: absolute;
  box-sizing: border-box;
  align-items: flex-start;
  flex-shrink: 0;
  border-color: transparent;
  border-radius: 0px 0px 0px 0px;
}
.event-manager-group5 {
  top: 0.8333331942558289px;
  left: 0.7499999403953552px;
  width: 7.500000476837158px;
  height: 8.333332061767578px;
  display: flex;
  padding: 0;
  position: absolute;
  align-self: auto;
  box-sizing: border-box;
  align-items: flex-start;
  flex-shrink: 1;
  border-color: transparent;
  border-style: none;
  border-width: 0;
  margin-right: 0;
  border-radius: 0px 0px 0px 0px;
  margin-bottom: 0;
  flex-direction: row;
  justify-content: flex-start;
  background-color: transparent;
}
.event-manager-vector06 {
  top: 0.8333334922790527px;
  left: 0px;
  width: 8px;
  height: 7px;
  position: absolute;
  box-sizing: border-box;
}
.event-manager-vector07 {
  top: 0px;
  left: 0px;
  width: 8px;
  height: 3px;
  position: absolute;
  box-sizing: border-box;
}
.event-manager-buttongo {
  top: 113px;
  left: 104px;
  width: 30px;
  height: 30px;
  display: flex;
  padding: 0;
  position: absolute;
  align-self: auto;
  box-sizing: border-box;
  align-items: flex-start;
  flex-shrink: 1;
  border-color: transparent;
  border-style: none;
  border-width: 0;
  border-radius: 8px;
  flex-direction: row;
  justify-content: flex-start;
  background-color: rgba(249, 207, 108, 1);
}
.event-manager-arrowup1 {
  top: 7px;
  left: 7px;
  width: 16px;
  height: 16px;
  position: absolute;
  box-sizing: border-box;
}
.event-manager-text19 {
  left: 2px;
  color: rgba(0, 0, 0, 1);
  height: auto;
  position: absolute;
  font-size: 20px;
  align-self: auto;
  font-style: Bold;
  text-align: left;
  font-family: Source Sans Pro;
  font-weight: 700;
  line-height: normal;
  font-stretch: normal;
  text-decoration: none;
}
.event-manager-text21 {
  top: 6px;
  left: 309px;
  color: rgba(0, 0, 0, 0.5);
  height: auto;
  position: absolute;
  font-size: 14px;
  align-self: auto;
  font-style: Regular;
  text-align: left;
  font-family: Source Sans Pro;
  font-weight: 400;
  line-height: normal;
  font-stretch: normal;
  text-decoration: none;
}
.event-manager-eventos-concluidos {
  top: 546px;
  left: 42px;
  width: 337px;
  height: 201px;
  display: flex;
  padding: 0;
  position: absolute;
  align-self: auto;
  box-sizing: border-box;
  align-items: flex-start;
  flex-shrink: 1;
  border-color: transparent;
  border-style: none;
  border-width: 0;
  margin-right: 0;
  border-radius: 0px 0px 0px 0px;
  margin-bottom: 0;
  flex-direction: row;
  justify-content: flex-start;
  background-color: transparent;
}
.event-manager-eventos-vacumm {
  top: 800px;
  left: 42px;
  width: 337px;
  height: 51px;
  position: absolute;
 
}
.event-manager-group6 {
  top: 46px;
  left: 0px;
  width: 151px;
  height: 155px;
  display: flex;
  padding: 0;
  position: absolute;
  align-self: auto;
  box-sizing: border-box;
  align-items: flex-start;
  flex-shrink: 1;
  border-color: transparent;
  border-style: none;
  border-width: 0;
  border-radius: 0px 0px 0px 0px;
  flex-direction: row;
  justify-content: flex-start;
  background-color: rgba(247, 247, 247, 1);
}
.event-manager-text23 {
  top: 17px;
  left: 12px;
  color: rgba(0, 0, 0, 1);
  height: auto;
  position: absolute;
  font-size: 16px;
  align-self: auto;
  font-style: Bold;
  text-align: left;
  font-family: Ubuntu;
  font-weight: 700;
  line-height: normal;
  font-stretch: normal;
  text-decoration: none;
}
.event-manager-group7 {
  top: 72px;
  left: 16px;
  width: 6px;
  height: 8px;
  display: flex;
  padding: 0;
  position: absolute;
  align-self: auto;
  box-sizing: border-box;
  align-items: flex-start;
  flex-shrink: 1;
  border-color: transparent;
  border-style: none;
  border-width: 0;
  border-radius: 0px 0px 0px 0px;
  flex-direction: row;
  justify-content: flex-start;
  background-color: transparent;
}
.event-manager-vector08 {
  top: 0px;
  left: 0px;
  width: 6px;
  height: 8px;
  position: absolute;
  box-sizing: border-box;
}
.event-manager-vector09 {
  top: 1.7999821901321411px;
  left: 1.7998046875px;
  width: 2px;
  height: 2px;
  position: absolute;
  box-sizing: border-box;
}
.event-manager-text25 {
  top: 70px;
  left: 28px;
  color: rgba(0, 0, 0, 1);
  height: auto;
  position: absolute;
  font-size: 10px;
  align-self: auto;
  font-style: Regular;
  text-align: left;
  font-family: Ubuntu;
  font-weight: 400;
  line-height: normal;
  font-stretch: normal;
  text-decoration: none;
}
.event-manager-text27 {
  top: 88px;
  left: 28px;
  color: rgba(0, 0, 0, 1);
  height: auto;
  position: absolute;
  font-size: 10px;
  align-self: auto;
  font-style: Regular;
  text-align: left;
  font-family: Ubuntu;
  font-weight: 400;
  line-height: normal;
  font-stretch: normal;
  text-decoration: none;
}
.event-manager-akariconscalendar2 {
  top: 89px;
  left: 15px;
  width: 8px;
  height: 9px;
  display: flex;
  overflow: hidden;
  position: absolute;
  box-sizing: border-box;
  align-items: flex-start;
  flex-shrink: 0;
  border-color: transparent;
  border-radius: 0px 0px 0px 0px;
}
.event-manager-group8 {
  top: 0.7499998807907104px;
  left: 0.6666666269302368px;
  width: 6.6666669845581055px;
  height: 7.499998569488525px;
  display: flex;
  padding: 0;
  position: absolute;
  align-self: auto;
  box-sizing: border-box;
  align-items: flex-start;
  flex-shrink: 1;
  border-color: transparent;
  border-style: none;
  border-width: 0;
  margin-right: 0;
  border-radius: 0px 0px 0px 0px;
  margin-bottom: 0;
  flex-direction: row;
  justify-content: flex-start;
  background-color: transparent;
}
.event-manager-vector10 {
  top: 0.7500001192092896px;
  left: 0px;
  width: 7px;
  height: 7px;
  position: absolute;
  box-sizing: border-box;
}
.event-manager-vector11 {
  top: 0px;
  left: 0px;
  width: 7px;
  height: 3px;
  position: absolute;
  box-sizing: border-box;
}
.event-manager-buttongo1 {
  top: 113px;
  left: 104px;
  width: 30px;
  height: 30px;
  display: flex;
  padding: 0;
  position: absolute;
  align-self: auto;
  box-sizing: border-box;
  align-items: flex-start;
  flex-shrink: 1;
  border-color: transparent;
  border-style: none;
  border-width: 0;
  border-radius: 0px 0px 0px 0px;
  flex-direction: row;
  justify-content: flex-start;
  background-color: rgba(249, 207, 108, 1);
}
.event-manager-arrowup2 {
  top: 7px;
  left: 7px;
  width: 16px;
  height: 16px;
  position: absolute;
  box-sizing: border-box;
}
.event-manager-text29 {
  left: 2px;
  color: rgba(0, 0, 0, 1);
  height: auto;
  position: absolute;
  font-size: 20px;
  align-self: auto;
  font-style: Bold;
  text-align: left;
  font-family: Source Sans Pro;
  font-weight: 700;
  line-height: normal;
  font-stretch: normal;
  text-decoration: none;
}
.event-manager-text31 {
  top: 4px;
  left: 308px;
  color: rgba(0, 0, 0, 0.5);
  height: auto;
  position: absolute;
  font-size: 14px;
  align-self: auto;
  font-style: Regular;
  text-align: left;
  font-family: Source Sans Pro;
  font-weight: 400;
  line-height: normal;
  font-stretch: normal;
  text-decoration: none;
}
